<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="http://localhost:2000/getfile/{{userconnect.image}}" alt="image" width="90"><span class="font-weight-bold">{{userconnect.nom}}  {{userconnect.prenom}}</span></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label >Nom:</label><input type="text" class="form-control"value= "{{userconnect.nom}}" ></div>
                    <div class="col-md-6"><label >Prenom:</label><input type="text" class="form-control" value= "{{userconnect.prenom}}"  ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label >Adresse:</label><input type="text" class="form-control" value= "{{userconnect.adresse}}" ></div>
                    <div class="col-md-6"><label >Email:</label><input type="text" class="form-control" value= "{{userconnect.email}}"  ></div>
                </div>
                


            </div>
        </div>
    </div>
</div>

