<section class="checkout-section spad">
    <div class="container">
        <form action="#" class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="/login" class="content-btn">Click Here To Login</a>
                    </div>
                    <h4>Detail facture</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">Nom<span>*</span></label>
                            <input type="text" id="fir"value="{{userconnect.nom}}">
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Prenom<span>*</span></label>
                            <input type="text" id="last" value="{{userconnect.prenom}}">
                        </div>

                        <div class="col-lg-12">
                            <label for="street">Addresse<span>*</span></label>
                            <input type="text" id="street" class="street-first" value="{{userconnect.adresse}}">
                    
                        </div>

                        <div class="col-lg-12">
                            <label for="email">Email <span>*</span></label>
                            <input type="text" id="email" value="{{userconnect.email}}">
                        </div>
                      
                        <div class="col-lg-12">
                            <div class="create-item">
                                <label for="acc-create">
                                    Creer un compte?
                                    <input type="checkbox" id="acc-create">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <input type="text" placeholder="Enter Your Coupon Code">
                    </div>
                    <div class="place-order">
                        <h4>Commande</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li >Produit <span>Total</span></li>
                                <li class="fw-normal"*ngFor=" let item of cart_items">{{item.nom}} x {{item.quantite}} <span>{{total(item)}}</span></li>
                                
                            </ul>
                            <ul class="order-table">
                                <li > Quantite Total:<span>{{totalQte()}}</span></li>
                            
                                
                            </ul>
                            <ul class="order-table">
                                <li > Prix Total:<span>{{gettotal()}}</span></li>
                            
                                
                            </ul>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check">
                                        
                                        Cheque Payment
                                        <input type="checkbox" id="pc-check">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-paypal">
                                        Paypal
                                        <input type="checkbox" id="pc-paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn" (click)="addOrder()">Valider commande</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
