
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login</h2>
                        <form [formGroup]="logForm">
                            <div class="group-input">
                                <label for="email"> Email  *</label>
                                <input type="text" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                    <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="pass">Password *</label>
                                <input type="text" id="pass" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                            
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="pass"> Confirmer Password *</label>
                                <input type="text" id="pass"  formControlName="confirmPassword"[ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                    <div *ngIf="f['confirmPassword'].errors['required']"> Confirm Password is required</div>
                                    <div *ngIf="f['confirmPassword'].errors['minlength']">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <label for="save-pass">
                                        Save Password
                                        <input type="checkbox" id="save-pass">
                                        <span class="checkmark"></span>
                                    </label>
                                
                                </div>
                            </div>
                            <button type="submit" class="site-btn login-btn" (click)="Login()">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a href="/registre" class="or-login">Or Create An Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
                
                
            