
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
         
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom" style="position: relative; overflow: hidden;">
                            <img class="product-big-img" src="http://localhost:2000/getfile/{{product.galleries[0].name}}" alt="">
                            <div class="zoom-icon">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        <img role="presentation" alt="" src="file:///C:/Users/bensl/Desktop/formation/Front_end/fashi-master/img/product-single/product-1.jpg" class="zoomImg" style="position: absolute; top: -1.33333px; left: -107.333px; opacity: 0; width: 440px; height: 520px; border: none; max-width: none; max-height: none;"></div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel owl-loaded owl-drag">
                                
                                
                                
                                
                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-113px, 0px, 0px); transition: all 0s ease 0s; width: 454px;"><div class="owl-item" style="width: 103.333px; margin-right: 10px;"><div class="pt active" data-imgbigurl="img/product-single/product-1.jpg"><img src="img/product-single/product-1.jpg" alt=""></div></div><div class="owl-item active" style="width: 103.333px; margin-right: 10px;"><div class="pt" data-imgbigurl="img/product-single/product-2.jpg"><img src="img/product-single/product-2.jpg" alt=""></div></div><div class="owl-item active" style="width: 103.333px; margin-right: 10px;"><div class="pt" data-imgbigurl="img/product-single/product-3.jpg"><img src="img/product-single/product-3.jpg" alt=""></div></div><div class="owl-item active" style="width: 103.333px; margin-right: 10px;"><div class="pt" data-imgbigurl="img/product-single/product-3.jpg"><img src="img/product-single/product-3.jpg" alt=""></div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next disabled"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots disabled"></div></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>{{product.subcat.nom}}</span>
                                <h3>{{product.nom}}</h3>
                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            </div>
                            <div class="pd-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(5)</span>
                            </div>
                            <div class="pd-desc">
                                <p>{{product.description}}</p>
                                <h4>{{product.prix}} </h4>
                            </div>
                          



                            <div class="quantity">
                              <div>  <button type="button" (click)="moins()"><i class="fa fa-minus"></i></button>
                                <!-- appQuantiteProduit: nom de directive  -->
                                <input type="text" [value]="qte_client" appQuantiteProduit [qte]="product.quantite" [qteuser]="qte_client">
                               <button type="button" (click)="plus()"><i class="fa fa-plus"></i> </button>
                                <button class="primary-btn " (click)="addToCart(product)">Add To Cart</button></div>
                            </div>
                           
                            <div class="pd-share">
                              
                                <div class="pd-social">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter-alt"></i></a>
                                    <a href="#"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>