<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget" >
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories" *ngFor="let cat of listcat" >
                       <input type="checkbox"  (change)="filtreCat($event)" [value]="cat.nom" >{{cat.nom}}
                        <!-- <li><a value="{{cat.nom}}" (change)="filtreCat($event)"> </a></li> -->
 
                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-calvin">
                                Calvin Klein
                                <input type="checkbox" id="bc-calvin">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-diesel">
                                Diesel
                                <input type="checkbox" id="bc-diesel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-polo">
                                Polo
                                <input type="checkbox" id="bc-polo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Tommy Hilfiger
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Price</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                
                                <input type="text" id="minamount">
                                <input type="text" id="maxamount">
                            </div>
                        </div>

                            <ng5-slider [(ngModel)]="priceSelection" [(value)]="minvalue" [(highValue)]="maxvalue" [options]="options" (mouseup)="changePrice()" ></ng5-slider> 
                    </div>
                    <button class="filter-btn" >Filter</button>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Color</h4>
                    <div class="fw-color-choose">
                        <div class="cs-item">
                            <input type="radio" id="cs-black"value="blanc" (change)="filtre($event)">
                            <label class="cs-black" for="cs-black">Black</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-violet" value="violet" (change)="filtre($event)">
                            <label class="cs-violet" for="cs-violet">Violet</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-blue" value="bleu" (change)="filtre($event)">
                            <label class="cs-blue" for="cs-blue">Blue</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-yellow" value="jaune" (change)="filtre($event)">
                            <label class="cs-yellow" for="cs-yellow">Yellow</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-red" value="rouge" (change)="filtre($event)">
                            <label class="cs-red" for="cs-red">Red</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-green" value="vert" (change)="filtre($event)">
                            <label class="cs-green" for="cs-green">Green</label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Size</h4>
                    <div class="fw-size-choose">
                        <div class="sc-item">
                            <input type="radio" id="s-size">
                            <label for="s-size">s</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="m-size">
                            <label for="m-size">m</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="l-size">
                            <label for="l-size">l</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="xs-size">
                            <label for="xs-size">xs</label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Tags</h4>
                    <div class="fw-tags">
                        <a href="#">Towel</a>
                        <a href="#">Shoes</a>
                        <a href="#">Coat</a>
                        <a href="#">Dresses</a>
                        <a href="#">Trousers</a>
                        <a href="#">Men's hats</a>
                        <a href="#">Backpack</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select class="sorting" style="display: none;">
                                    <option value="">Default Sorting</option>
                                </select><div class="nice-select sorting" tabindex="0"><span class="current">Default Sorting</span><ul class="list"><li data-value="" class="option selected">Default Sorting</li></ul></div>
                                <select class="p-show" style="display: none;">
                                    <option value="">Show:</option>
                                </select><div class="nice-select p-show" tabindex="0"><span class="current">Show:</span><ul class="list"><li data-value="" class="option selected">Show:</li></ul></div>
                            </div>
                        </div>
                        <div class="row">
                            <pagination-controls
                              (pageChange)="p = $event"
                            ></pagination-controls>
                          </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row" >
                        
                        <div class="col-lg-4 col-sm-6" *ngFor="let product of listprod  | paginate: { itemsPerPage:4, currentPage: p }
                        | recherche: search_nom">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="http://localhost:2000/getfile/{{product.galleries[0].name}}" alt="">
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><button type="button" [routerLink]="['/detailproduct',product._id]">+ Quick View</button></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">{{product.subcat.nom}}</div>
                                    <a href="#">
                                        <h5>{{product.nom}}</h5>
                                    </a>
                                    <div class="product-price">
                                       {{product.prix}}
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                                            </div>
                       
                       
                       
                        
                        
                    
                </div>
                <div class="loading-more">
                    <i class="icon_loading"></i>
                    <a href="#">
                        Loading More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
