<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
    <div class="card" id="htmlData">
        <div class="card-header p-4">
            <div class="float-right">
                {{ todayWithPipe }}
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                
                <div class="col-sm-6 ">
                    <h5 class="mb-3">To:</h5>
                    <h3 class="text-dark mb-1">{{userconnect.nom}} {{userconnect.prenom}}</h3>
                    <div>{{userconnect.adresse}}</div>
                    <div>{{userconnect.email}}</div>
                
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Produit</th>
                            <th>Description</th>
                            <th class="right">Prix</th>
                            <th class="center">Quantite</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let item of cart_items;let index=index">
                            <td class="center">{{index+1}}</td>
                            <td class="left strong">{{item.nom}}</td>
                            <td class="left">{{item.description}}</td>
                            <td class="right">{{item.prix}} DT</td>
                            <td class="center">{{item.quantite}}</td>
                            <td class="right">{{total(item)}} DT</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                </div>
                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">Subtotal</strong>
                                </td>
                                <td class="right">{{gettotal()}}</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">Discount (20%)</strong>
                                </td>
                                <td class="right">{{ ( gettotal() / 100) * 20 }}</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">VAT (10%)</strong>
                                </td>
                                <td class="right">{{ ( gettotal() / 100) * 10 }}</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">Total</strong> </td>
                                <td class="right">
                                    <strong class="text-dark">{{ facture() }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
    </div>
</div>
