

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Register</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Register</h2>
                        <form [formGroup]="regForm">
                            <div class="group-input">
                                <label for="name">Nom *</label>
                                <input type="text" id="name" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }">
                                <div *ngIf="submitted && f['nom'].errors" class="invalid-feedback">
                                    <div *ngIf="f['nom'].errors['required']"> Name is required</div>
                            </div>
                           
                            </div> 
                            <div class="group-input">
                                <label for="prenom">Prenom *</label>
                                <input type="text" id="penom" formControlName="prenom"  [ngClass]="{ 'is-invalid': submitted && f['prenom'].errors }">
                                <div *ngIf="submitted && f['prenom'].errors" class="invalid-feedback">
                                    <div *ngIf="f['prenom'].errors['required']">Prenom is required</div>
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="adresse">Adresse *</label>
                                <input type="text" id="adress" formControlName="adresse" [ngClass]="{ 'is-invalid': submitted && f['adresse'].errors }" >
                                <div *ngIf="submitted && f['adresse'].errors" class="invalid-feedback">
                                    <div *ngIf="f['adresse'].errors['required']">Adresse is required</div>
                        
                                </div>
                            </div>
                            <div class="group-input">
                                <label for="email">Email  *</label>
                                <input type="text" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" >
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                    <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                                </div>
                            </div>
                            
                            <div class="group-input">
                                <label for="pass">Password *</label>
                                <input type="text" id="pass" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" formControlName="password">
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                                </div>
                            </div>

                            <div class="group-input">
                                <label for="pass"> Confirmer Password *</label>
                                <input type="text" id="pass"  formControlName="confirmPassword"[ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                    <div *ngIf="f['confirmPassword'].errors['required']"> Confirm Password is required</div>
                                    <div *ngIf="f['confirmPassword'].errors['minlength']">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div>
                                
                                <input type="file" (change)="handleFileInput($event)" name="file" class="form-control-user" placeholder="image">
                            </div>
                            <button  class="site-btn register-btn" (click)="onSubmit()">REGISTER</button>
                        </form>
                        <div class="switch-login">
                            <a href="/login" class="or-login">Or Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
                
                
          
  


