<body>
    <!-- Page Preloder -->
    <div id="preloder">
     <div class="loader"></div>
 </div>

 <!-- Header Section Begin -->
<app-header></app-header>
 <!-- Header End -->

 <!-- Hero Section Begin -->
<router-outlet></router-outlet>
 <!-- Partner Logo Section End -->

 <!-- Footer Section Begin -->
<app-footer></app-footer>
 <!-- Footer Section End -->
</body>
