
<div class="col-lg-12">
    <div class="cart-table">
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th class="p-name">Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th><i class="ti-close"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td class="cart-pic first-row"><img src="http://localhost:2000/getfile/{{item.galleries[0].name}}" alt=""></td>
                    <td class="cart-title first-row">
                        <h5>{{item.nom}}</h5>
                    </td>
                    <td class="p-price first-row">{{item.prix}}</td>
                    <td class="qua-col first-row">
                        <div class="quantity">
                            <div class="pro-qty"><span class="dec qtybtn" (click)="moins()">-</span>
                                <input type="text" value="{{item.quantite}}">
                            <span class="inc qtybtn" (click)="plus()">+</span></div>
                               
                         
                        </div>
                    </td>
                    <td class="total-price first-row">{{total(item)}}</td>
                    <td class="close-td first-row"><button (click)="removeitem(item)" > <i class="ti-close"></i> </button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="cart-buttons">
                <a href="#" class="primary-btn continue-shop" routerLink="/listprod">Continue shopping</a>
                <a href="#" class="primary-btn up-cart">Update cart</a>
            </div>
            <div class="discount-coupon">
                <h6>Discount Codes</h6>
                <form action="#" class="coupon-form">
                    <input type="text" placeholder="Enter your codes">
                    <button type="submit" class="site-btn coupon-btn">Apply</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-4">
            <div class="proceed-checkout">
                <ul>
                    <li class="subtotal">Subtotal <span>{{gettotal()}}dt</span></li>
                    <li class="cart-total">Total <span>{{gettotal()}}dt</span></li>
                </ul>
                <a href="#" class="proceed-btn" routerLink="/checkout">PROCEED TO CHECK OUT</a>
            </div>
        </div>
    </div>
</div>